.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(104, 151, 212);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    padding : 5px;
    color: white;
    
}


body{
    background-color:#ddb8b8;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 70px;
    border-width: 5px;
    border-color: darkblue;    
    background-color:#a6f39c;
    
    width:310px;
    font-family: fantasy;
    
}

 
    
